.button
     cursor: pointer   
     transition: all 0.3s ease

.circle
    display: flex
    justify-content: center
    align-items: center
    width: 34px
    height: 34px
    border: none
    border-radius: 20px
    background: var(--bg-gray, #F1F2F3)
    &:hover,
    &:focus
        background: #d3d6d8

.transparent,
.tabs
    display: flex
    justify-content: center
    align-items: center
    border: none
    color: var(--gray-text, #616F82)
    font-family: SF Pro Display
    font-size: 14px 
    font-style: normal
    font-weight: 400
    line-height: 20px

.transparent
    &:hover,
    &:focus
        color: var(--text-black, #161718)

.tabs.active
        color: var(--bg-blue, #4198C5)
        &:hover
            color: var(--bg-blue, #4198C5)
            
.tabs
    position: relative
    &:not(:last-child)::after
        content: ""
        position: absolute
        // top: 10px
        right: -20px
        width: 1px
        height: 18px
        border-right: 1px solid #CDCDCD
    &:hover
        color: #4199c582

.dropdown
    border: none
    background: var(--bg-white, #FFF)
    color: var(--text-black, #161718)
    &:hover,
    &:focus
        transform: scale(1.05)
        color: var(--bg-gray-light, #d0cfcf)
        box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05)

.dots
    background: var(--bg-white, #FFF)
    border: none
    text-align: left
    padding: 10px 20px
    &:hover,
    &:focus
        background: #d3d6d8
